<header>
  <h1> DataSource whith Mat-table</h1>
</header>

<section>

  <div class="container">

    <!--    Nesse datasource sempre devo passar a instancia do datasource criado como por exemplo esse com material
    dataSourceBdReal: any = new MatTableDataSource<any>();  e definir tb o atributo matsort para dizer que a table
    sofrerá sort.
    -->
    <table mat-table [dataSource]="dataSourceBdReal" matSort>
      <!-- Coluna de Nome -->

      <!-- ng-container inticando qual será referencia/nome da coluna exemplo nessa primeira que é matColumnDef="id"
      e indico ela tb como mat-sort-header onde será sorteado baseado no header(id) e faço a iteração logo em seguida
      trazendo os dados correspondentes  e a mesma coisa para todas as outras colunas.
      -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
        <td mat-cell *matCellDef="let item"> {{ item?.id }} </td>
      </ng-container>

      <!-- Coluna de Idade -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome</th>
        <td mat-cell *matCellDef="let item"> {{ item?.nome }} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail</th>
        <td mat-cell *matCellDef="let item"> {{ item?.email }} </td>
      </ng-container>

      <!-- Coluna de Idade -->
      <ng-container matColumnDef="siglaUf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sigla Uf</th>
        <td mat-cell *matCellDef="let item"> {{ item?.siglaUf }} </td>
      </ng-container>

      <ng-container matColumnDef="siglaPartido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sigla Partido</th>
        <td mat-cell *matCellDef="let item"> {{ item?.siglaPartido }} </td>
      </ng-container>

      <!-- Definição das colunas -->
      <!-- Esse trecho de código representa a estrutura de uma tabela usando Angular Material.
       Ele define o cabeçalho da tabela, as linhas de dados e um paginador para navegar entre páginas de dados.
       displayedColumnsBdReal especifica quais colunas da tabela serão exibidas. -->
      <tr mat-header-row *matHeaderRowDef="displayedColumnsBdReal"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsBdReal;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[12, 30, 50,100]" showFirstLastButtons></mat-paginator>
  </div>
</section>
